.calendar_link{
    font-size: 16px;
    font-weight: 600;
    color: #5B5B5B;
    /* text-decoration: none; */
}

.RecipeRow{
    width: 100%;
}

.RecipeRow_tr {
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #5B5B5B;
    cursor: pointer;
}

.RecipeRow_td {
    width: 25%;
    padding: 10px 20px;
    text-align: center;
}

.RecipeRow_tr:hover{
    background-color: #f8eded;
}