.AddItem{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #00000079;
    z-index: 1;
  }

.AddItem_container{
    width: 600px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    border-radius: 25px;
    justify-items: center;
    justify-content: center;

}

.AddItem_container .title{
    color: #FF7070;
    display: flex;
    justify-content: center;
}
  
.ItemForm{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 0px 50px 0px 50px;
}

.ItemForm .text_feild{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ItemForm .text_feild .ItemLabel{
    font-size: 20px;
    font-weight: 700;
    color: #FF7070;
    margin-bottom: -20px;
}

.ItemForm .text_feild > input,.ItemForm .text_feild > textarea{
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #FF7070;
    color: black;
    outline: none;
    background: none;
    padding-bottom: 7px;
    resize: none;
    max-height: 150px;
}

.ItemForm .RecipeAddbtn, .ItemForm .RecipeCloebtn{
    margin-top: 10px;
    color: #FF7070;
    border: 1px solid #FF7070;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 0;
}

.ItemForm .RecipeAddbtn:hover, .ItemForm .RecipeCloebtn:hover{
    color: #F0F0F0;
    background-color: #FF7070;
    border: 1px solid #FF7070;
    transition: 0.5s;
}