.Recipe{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #F0F0F0;
    min-height: 955px;
}

.Recipe .Recipe_up{
    padding: 30px 12.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.Recipe .Recipe_up .left_side{
    width: 40%;
}

.Recipe .Recipe_up .left_side img{
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 15px;
}

.Recipe .Recipe_up .left_side .title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Recipe .Recipe_up .left_side .title h1{
    color: #FF7070;
    font-size: 38px;
    font-weight: 700;
    margin-top: 10px;
}

.Recipe .Recipe_up .left_side .title .likes{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #5B5B5B;
}

.Recipe .Recipe_up .left_side .title .likes .icon{
    font-size: 30px;
    cursor: pointer;
}

.Recipe .Recipe_up .left_side .social_media{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    gap: 10px;
    color: #5B5B5B;
}

.Recipe .Recipe_up .left_side .social_media .icon{
    font-size: 30px;
    cursor: pointer;
}

.Recipe .Recipe_up .right_side{
    width: 55%;
    color: #5B5B5B;
}

.Recipe .Recipe_up .right_side .Recipe_Cuisine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Recipe .Recipe_up .right_side .Recipe_Cuisine button{
    background-color: #FF7070;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #F0F0F0;
    cursor: pointer;
}

.Recipe .Recipe_up .right_side .Recipe_Cuisine button:hover{
    color: #FF7070;
    background-color: #F0F0F0;
    border: 1px solid #FF7070;
    transition: 0.5s;
}

.Recipe .Recipe_up .right_side h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Recipe .Recipe_down{
    padding: 30px 12.5%;
    display: flex;
}

.liked{
    color: #FF7070;
}

.delete_section{
    padding: 20px 12.5% 0px;
    display: flex;
}

.delete_section button{
    padding: 10px 20px;
    background-color: #FF7070;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #F0F0F0;
    border-radius: 15px;
    cursor: pointer;
}

.delete_section button:hover{
    background-color: red;
    transition: 0.5s;
}